/* Media query para telas de desktop */
@media screen and (min-width: 768px) {
    .container-sobre {
        flex-direction: row;
        align-items: center;
    }

    .container-texto {
        text-align: left;
        margin-top: 240px;
    }

        .titulo {
            margin-left: 45px;
            text-align: start;
            font-size: xx-large;
        }

        .paragrafo {
            text-align: left;
            font-size: 20px;
            padding-left: 45px;
            padding-right: 40px;
        }

    .container-avatar {
        margin-left: 200px;
    }

    .avatar {
        width: 300px;
        height: 300px; 
    }
}
